# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.venv/

# Logs and databases
*.log
*.sqlite3
*.db

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Static assets generated
staticfiles/
mediafiles/

.python-version