Flask==2.2.5
SQLAlchemy==1.4.45
pymysql==1.0.2
pandas==1.5.3
scipy>=1.8.0
waitress==2.1.2
transformers==4.30.2
torch==2.0.0
torchvision==0.15.1
torchaudio==2.0.0
python-dotenv==1.0.0
numpy>=1.21.0,<1.26.0
cryptography==44.0.0
protobuf
tiktoken
sentencepiece
